[safe]
	directory = /tmp/windmill/wk-default-devmachine-UM90g/0199abea-9cd8-9c6f-deb7-52ebd3d238ab/sync_empty
	directory = /tmp/windmill/wk-default-devmachine-Out9t/019aa201-998d-6662-017e-6c2ae48edc2b/sync_empty
